@{
    Layout = null;
    ViewData["Title"] = "SignIn";
}

@model EntityLayer.ViewModels.SignInViewModel

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Moodify | Sign In</title>
    <link rel="stylesheet" href="/css/StyleSheet.css">

</head>
<body>
    <!-- partial:index.partial.html -->
    <div id="wrapper">
        <div id="left">
            <div id="signin">
                @if (TempData["SuccessMessage"] != null)
                {
                    <div class="alert alert-info" role="alert">
                        @TempData["SuccessMessage"]
                    </div>
                }
                <div asp-validation-summary=ModelOnly class="error animated tada" id="msg" role="alert">
                </div>
                <form asp-controller="Home" asp-action="SignIn" asp-route-returnUrl="@Context.Request.Query["returnURl"]" method="post">
                    <div>
                        <label>Email</label>
                        <input asp-for="Email" type="email" placeholder="Email" class="text-input" />
                        <span asp-validation-for="Email" class="text-danger" style="color: red"></span>
                    </div>
                    <div>
                        <label>Password</label>
                        <input asp-for="Password" type="password" class="text-input" />
                        <span asp-validation-for="Password" class="text-danger" style="color: red"></span>
                    </div>
                    <button type="submit" class="primary-btn">Sign In</button>
                </form>
                <div class="or">
                    <a asp-action="ForgetPassword" asp-controller="Home" style="color:white; text-align:center">Forgot Password</a>                 
                </div>
                <a asp-action="SignUp" asp-controller="Home" class="secondary-btn">Create an account</a>
            </div>
        </div>
        <div id="right">
            <div id="showcase">
                <div class="showcase-content">
                    <h1 class="showcase-text">
                        Welcome <strong>Moodify!</strong>
                    </h1>
                    <h2>Let's create the future together</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- partial -->

</body>
</html>